/**
 * @file
 * SCSS file to generate CSS.
 *
 * Base css of site
 */

* {
  margin: 0;
  padding: 0;
  line-height: normal;
  vertical-align: top;
  outline: none;
  @include box-sizing(border-box);
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  &:hover,
  &:focus {
    outline: none;
  }
}

img {
  height: auto;
  max-width: 100%;
  width: auto;
}

video {
  height: auto;
  width: 100%;
}
