/**
 * @file
 * SCSS file for variables.
 *
 * All variables used in SCSS are defined in this file.
 */


/**
 * Font face
 */
/*$opensans-extrabold: 'OpenSans Extrabold';*/

/* URLs */
/*$url-opensans-extrabold: url('../fonts/OpenSans/OpenSans-ExtraBold.woff');*/


/* Color code */
$white: #FFF;
$black: #000;
$red:   #900;
